h1, p{
    margin-left: 3%;
    padding: 10px;
    color: #190933;
    font-family: sans-serif;
}

form{
    text-align: center;
    background-color: #19ee19;  
    
}
#formulario{
    max-width: 800px;
    margin: 10%;
    position: absolute;
    left: 11%;
    top: 20%;
    transform: translate(-50%, -50%);
   
}

input,select{
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: #BEB7B7;
    width: 260px;
    border-radius: 8px;
    border: 1px solid rgb(202, 192, 192);

    font-size: 16px;
  
}
input[type=address]{
    width: 130px;
}
input[type=address2]{
    width: 62px;
}
select{
    background-color: #190933;
    color: white;
    width: 300px;
}

form button{
    width: 230px;
    height: 40px;
    background-color: #9877CD;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-left: 40px;
    margin-top: 50px;
    transition: 400ms;
    
}
form button:hover{
    background-color: #382952;
}


#lado-d{
    position:absolute;
    left:40%;
    top:20%;
    margin-left: 150px;
    margin-top: -50px;
}

img{
    width: 90%;
}
