body{
    background-color: #d5cce4dc;
    
}
h1{
    margin-top: 5%;
    margin-left: 15%;
    
    color: #190933;
    font-family: sans-serif;
    
}
p{
    margin-top: 10px;
    margin-left: 14%;
    font-size: 17px;
    color: #190933;
    font-family: sans-serif;
    
}


header{
    margin: 50px;
}

form{
    align-items: center;
    text-align: center;
    margin: 1%;

    background-color: red;
    
}
#formulario{
    background-color: #190933;
    max-width: 500px;
    margin-top: 15%;
    margin-left: 10%;
    position: absolute;
   
}

input,button{
    margin: 10px 10px;
    padding: 10px 20px;
    background-color: #BEB7B7;
    width: 260px;
    border-radius: 8px;
    border: 1px solid rgb(202, 192, 192);

    font-size: 16px;
  
}

form button{
    
    background-color: #9877CD;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
   
    transition: 400ms;
    
}

form button:hover{
    background-color: #382952;
}

#lado-d{
    position:absolute;
    left:51%;
    top:20%;
   
}

#lado-d img{
    width: 90%;
}