

img{
    width: 50%;
    height: 70%;
    position: relative;
    bottom: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

#page-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 75%;
    width: 85%;
}

#page-home .content{
    width: 40%;
    height: 100%;

    display: flex;
}

#page-home main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
}
#page-home main h1{
    font-size: 2.1rem;
    color: #190933;
    width: calc(100% + 4rem);
    font-family: 'Montserrat', sans-serif;
}

#page-home main a:first-of-type {
    margin-top: 50px;
}

#page-home main a{
    width: 80%;
    padding: 1rem 0; 
    margin-top: 20px;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #9877CD;
    transition: 300ms;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

#page-home main a:hover{
    background-color: #190933;
}

@media(max-width: 1100px) {
    #page-home {
        height: 60%;
        width: 90%;
    }
    #page-home main {
        margin-top: 10%;
    }
    #page-home main h1 {
        font-size: 1.6rem;
    }
    #page-home main a:first-of-type {
        margin-top: 35px;
    }
}
@media(max-width: 900px) {
    img {
        width: 45%;
    }
    #page-home {
        width: 95%;
    }
    #page-home .content {
        width: 45%;
    }
    #page-home main h1 {
        font-size: 1.4rem;
        width: calc(100% + 2rem);
    }
    #page-home main a:first-of-type {
        margin-top: 20px;
    }
}
@media(max-width:768px) {

}