.ac_box { width: 337px; }
.ac_box_top { border: 2px solid #E6E6E6; border-bottom: none; margin-left: 2px; height: 7px; width: 323px; }
.ac_box_cont { border-left: 4px solid #e6e6e6; border-right: 10px solid #a71616; border-bottom: 10px solid #E6E6E6; height: 340px; padding: 5px 0; }