body{
    background-color: #190933;
}
form{
    text-align: center;
    
}

img{
    position:absolute;
    width: 40%;
    left:40%;
    top:30%;
    margin-left: 150px;
    margin-top: -50px;
}

#login{
    max-width: 500px;
    width: 320px;
    margin: 200px 200px;
    position: absolute;
    left: 20%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: #190933;
    
   
}
#login h1{
    padding: 10px;
    color: #190933;
    font-family: sans-serif;
}
#login span{
    justify-items: center;
    justify-content: center;
}
#login a{
    align-items: center;
    justify-content: center;
}
input{
    display: block;
    height: 45px;
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid rgb(202, 192, 192);

    font-size: 16px;
    padding:20px;

    color: #190933;
    
    
}
#button{
    background: #9877CD; 
    color: white;
    text-align: center;
}
#button:hover{
    background-color: #190933;
}

