input{
    display: block;
    width: 100%;
    max-width: 360px;
    height: 72px;

    border-radius: 8px;

    display: flex;
    align-items: center;

    margin-top: 40px;

    background: #EDEBEB;

    transition: 400ms;
}

#login{
    width: 420px;
    margin: 150px auto 0px auto;
   
}