img{
    position:absolute;
    width: 40%;
    left:40%;
    top:30%;
    margin-left: 150px;
    margin-top: -50px;
}
form{
    background-color: red;
}

input{
    display: block;
    height: 55px;
    width: 55px;
    margin: 10px;
    border-radius: 30px;
    
}


#login{
    width: 320px;
    margin: 200px 200px;
   
}