body{
    background-image: url("/public/Group\ 15.svg");
    background-position: 50% 70%;
}
form{
    background-color: red;
}

input,button{
    display: block;
    height: 55px;
    width: 80%;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #615f5fda;

    font-size: 16px;
    padding: 10px 20px;



    max-width: 360px;


    display: flex;
    align-items: center;

    background: #EDEBEB;
}
button{
    background: #9877CD;
    
}

#login{
    width: 420px;
    margin: 250px 250px;
   
}