input,button{
    display: block;
    height: 55px;
    width: 80%;
    margin-top: 20px;
    border-radius: 8px;

    max-width: 360px;


    display: flex;
    align-items: center;


    background: #EDEBEB;

    transition: 400ms;
}

#login{
    width: 420px;
    margin: 150px auto 0px auto;
   
}