#id{
    height: 100vh;
    background: url('/public/Group\ 15.svg') no-repeat;
    background-position: center;
}

form{

    margin-top: 80px;
    /*preenchimento da caixa*/
    padding: 64px;

    border-radius: 8px;

    max-width: 730px;
   
    border: 0;

}

