@media(max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
        
    }

    #page-home main{
        align-items: center;
    }
    
}
@media(min-width:1700px){
    #page-home, #page-login{
        background-position-x: 40vw;
    }

}
@media(max-height:760px){
    #page-home, #page-login{
        background-position-y: 200px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    
}
body{
    background: #E5E5E5;
    -webkit-font-smoothing: antialiased;
    background-image: url("/fundo.jpeg");
    
    background-repeat: no-repeat;
    background-size:cover;

}

a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
h1, h2, h3,h4, h5, h6{
    font-family: sans-serif;
}

